strategy: Recreate
kafkaPool: nav-dev
mountPaths:
- mountPath: /var/run/secrets/nais.io/service_user
  kvPath: /serviceuser/data/dev/srvspreoppgaver
env:
- name: KAFKA_BOOTSTRAP_SERVERS
  value: b27apvl00045.preprod.local:8443,b27apvl00046.preprod.local:8443,b27apvl00047.preprod.local:8443
- name: KAFKA_RAPID_TOPIC
  value: tbd.rapid.v1
- name: KAFKA_CONSUMER_GROUP_ID
  value: tbd-spre-oppgaver-v1
- name: DATABASE_HOST
  value: b27dbvl013.preprod.local
- name: DATABASE_PORT
  value: "5432"
- name: DATABASE_NAME
  value: spre-oppgaver
- name: VAULT_MOUNTPATH
  value: postgresql/preprod-fss/
