name: Aiven-config

on:
  push:
    branches:
    - main
    paths:
    - 'config/oppgaver/aiven-dev-spre-oppgaver.yml'
    - 'config/oppgaver/aiven-prod-spre-oppgaver.yml'
    - 'config/sykmeldt/aiven-dev-forelagte-opplysninger.yml'
    - 'config/sykmeldt/aiven-prod-forelagte-opplysninger.yml'
    - '.github/workflows/aiven.yml'

jobs:
  deployDev:
    name: apply kafka-topic i dev
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: config/oppgaver/aiven-dev-spre-oppgaver.yml
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: config/sykmeldt/aiven-dev-forelagte-opplysninger.yml

  deployProd:
    name: apply kafka-topic i prod
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v6
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: config/oppgaver/aiven-prod-spre-oppgaver.yml
